$black-color: #000000;
$white-color: #ffffff;
$orange-color: #ffbb00;
$light-gray-color: #b3b3b3;
$dark-gray-color: #595959;
$line-gray-color: #ededed;

@mixin centering() {
  margin-left: auto;
  margin-right: auto;
}

@mixin title-white() {
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin title-black() {
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin description() {
  letter-spacing: 0em;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400px;
  font-size: 24px;
  line-height: 36px;

  color: $light-gray-color;
}

@mixin button() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;

  background: linear-gradient(180deg, #ffbb00 0%, #f2a60c 100%);
  border-radius: 5px;
  font-family: "Poppins";

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  text-transform: uppercase;

  color: #332200;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.home-container {
  @include centering();
  height: 680px;
  width: 1600px;
  background-color: $black-color;
  color: $white-color;
}

.header-post {
  display: flex;

  margin-right: 140px;

  &-dec {
    width: 52px;
    height: 52px;
    margin-left: 40px;
    margin-top: 588px;
  }
  &-text {
    margin-left: 128px;
  }

  &-title {
    @include title-white();
    margin-top: 196px;
    height: 144px;
    width: 578px;
    left: 220px;
    top: 290px;
    border-radius: nullpx;
    

    &:after {
      content: ".";
      color: $orange-color
    }
  }

  &-description {
    @include description();
    width: 553px;
    height: 108px;
    left: 220px;
    top: 470px;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  &-button {
    @include button();
  }
}

.catalog-container {
  height: 734px;
  width: 1460px;
  margin-bottom: 200px;
}

.catalog-cards {
  margin-left: 70px;
  margin-right: -70px;
  display: flex;
  justify-content: space-between;
}

.catalog-card {
  &-img {
    height: 520px;
    width: 460px;
    border-radius: 5px;
  }

  &-description {
    color: $black-color;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;

    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 5px;
      vertical-align: middle;
      background-color: $orange-color;
    }
  }

  &-price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $dark-gray-color;
    margin-left: 15px;
    margin-top: 5px;
  }
}

.catalog-title {
  @include title-black();
  color: $black-color;

  height: 72px;
  margin-left: 205px;
  margin-top: 114px;
  border-radius: nullpx;
  margin-bottom: 40px;
  &:after {
    content: ".";
    color: $orange-color
  }
}

.diferencial-container {
  @include centering();
  height: 960px;
  width: 1600px;
  background-color: $black-color;
  margin-bottom: 200px;
  display: flex;
}

.diferencial-text-container {
  margin-left: 220px;
  margin-top: 80px;
  margin-right: 66px;
}

.diferencial-text {
  &-title {
    color: $light-gray-color;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &-subtitle {
    width: 549px;
    height: 216px;
    left: 220px;
    top: 2072px;
    margin-bottom: 20px;

    @include title-white();
    &:after {
      content: ".";
      color: $orange-color
    }
  }

  &-content {
    margin-bottom: 20px;
    width: 534px;
    height: 180px;

    @include description();
  }

  &-button {
    color: $orange-color;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }

  &-button-underline {
    width: 261px;
    height: 4px;
    left: 220px;
    top: 2544px;
    background-color: $orange-color;
    margin-bottom: 81px;
  }

  &-footer-container {
    display: flex;
  }

  &-first {
    margin-right: 40px;
  }

  &-footer-title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 8px;
  }

  &-footer-content {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 239px;
    height: 116px;
    color: $light-gray-color;
  }
}

.diferencial-img {
  height: 1120px;
  width: 700px;
  border-radius: 0px;
  margin-top: -80px;
}

.partners-title {
  @include title-black();
  color: $black-color;
  text-transform: lowercase;
  margin-left: 220px;
  &:after {
    content: ".";
    color: $orange-color
  }
}
.partners-img-container {
  flex-direction: column;
  display: flex;
}
.partners-container {
  display: flex;
  flex-direction: column;
}
.partners-row {
  display: flex;
  width: 100%;
  div {
    width: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.horizontal-line {
  width: 1400px;
  border-bottom: 2px solid $line-gray-color;
  margin-left: 58px;
  margin-right: 100px;
}

.partners-img {
  padding-top: 49px;
  padding-bottom: 45px;
  &-first {
    margin-left: 40px;
    &-top {
      padding-right: 70px;
      padding-left: 20px;
    }
  }
  &-second {
    border-left: 2px solid $line-gray-color;
    &-top {
      padding-right: 75px;
      padding-left: 73px;
    }
  }

  &-third {
    border-left: 2px solid $line-gray-color;
    &-top {
      padding-right: 71px;
      padding-left: 78px;
    }
  }

  &-last {
    padding-right: 115px;
    border-left: 2px solid $line-gray-color;
    &-top {
      padding-left: 55px;
    }
  }
}
