@import "../../components/styles/variables.scss";
@import "../../components/styles/mixins.scss";

.dropdown {
  &-box-colored {
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
    border-radius: 5px;
   
  }
  &-box-transparent {
    display: flex;
    justify-content: space-between;
  }

  &-FAQ {
    &-content {
        cursor: pointer;
    }
    &-question {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      margin-left: 200px ;
      

      padding: 10px 0 10px 10px;
      margin: 10px 0 10px 15px;
      &::before {
        content: "";
        display: inline-block;
        background-color: $orange-color;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        margin-right: 5px;
      }
    }
    &-answer {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-gray-color;
      margin: 10px 0 10px 25px;
    }

    &-img {
      height: 7px;
      width: 12px;
      cursor: pointer;
      margin: 30px 10px 0px 0px;
    }
  }
}

