@import "../../components/styles/variables.scss";
@import "../../components/styles/mixins.scss";

.support {

  &-silver {
    &-container {
      display: flex;
      height: 396px;
      width: 561px;

      margin-left: 216px;
      background-color: $black-color;
    }

    &-title {
      margin-top: 20px;
      margin-left: 64.12px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;

      color: #9c9c9c;
    }
    &-ul {
      list-style-type: none;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: white;
      li {
        position: relative;
        padding-left: 20px;
        margin-top: 20px;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
          background-image: url("../../components/img/Vector.png");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    &-button {
      text-decoration: none;
      color: #cccccc;
      margin: 32px 0 0 60px;

      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;

      border-radius: 5px;
      padding: 16px 32px 16px 32px;

      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      gap: 10px;
      width: 185px;
      height: 56px;

      background: #121212;
      border-radius: 5px;
    }
    &-prise {
      color: $white-color;
      margin: 20px 32px 0 100px;
      width: 114px;
      height: 48px;

      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
    }
  }

  &-gold-container {
    height: 484px;
    width: 561px;
    margin-left: 41px;
    background-color: $black-color;
  }
  &-termos {
    text-decoration: none;
    width: 46.09px;
    height: 16px;
    margin-left: 165px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #9c9c9c;
  }

  &-gold {
    &-container {
      display: flex;
    }
    &-title {
      color: $orange-color;
      margin: 20px 0 0 64px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
    }
    &-button {
      text-decoration: none;
      color: $black-color;
      margin: 32px 0 0 60px;

      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;

      border-radius: 5px;
      padding: 16px 32px 16px 32px;

      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      gap: 10px;
      width: 185px;
      height: 56px;

      background: $orange-color;
      border-radius: 5px;
    }
    &-ul {
      list-style-type: none;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: white;

      li {
        position: relative;
        padding-left: 20px;
        margin-top: 20px;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
          background-image: url("../../components/img/Vector.png");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    &-prise {
      width: 121px;
      height: 48px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
      margin: 20px 32.06px 0 95px;
    }
  }
}
